<!--
 Last modified by: Vivian D'Souza
 Windows Prog 547
 Last Updated : 10/24/23
-->
@{
    ViewBag.Title = "Your Cart";
}

<h1>CSharpest Store: Your Cart</h1>

<p>View items in your cart here.</p>

<a href="/Storefront/welcome">
    <h3>[Go to back to Store]</h3>
</a>

<a href="/Storefront/checkout">
    <h3>[Go to Checkout]</h3>
</a>
