<!--
 Last modified by: Vivian D'Souza
 Windows Prog 547
 Last Updated : 10/24/23
-->
@model Dictionary<CSharpest.Classes.Item, Tuple<int, decimal>>

@{
    ViewBag.Title = "Checkout";
}

<h1>CSharpest Store: Your Total</h1>

<a href="/Storefront/welcome">
    <h3>[Go to back to Store]</h3>
</a>

<hr />
</table>

<form>
    <label for="cardNumber">Card number:</label>
    <input type="text" id="cardNumber" name="cardNumber"><br><br>
    <label for="eMonth">Expiration Month:</label>
    <input type="text" id="eMonth" name="eMonth"><br><br>
    <label for="eYear">Expiration Year:</label>
    <input type="text" id="eYear" name="eYear"><br><br>
    <label for="cvv">CVV:</label>
    <input type="text" id="cvv" name="cvv"><br><br>
    <label for="cardName">Cardholder name:</label>
    <input type="text" id="cardName" name="cardName"><br><br>


    <input type="submit" value="Submit">
</form>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price by Ounce</th>
        <th>Total Price</th>
       
    </tr>

    @foreach (KeyValuePair<CSharpest.Classes.Item, Tuple<int, decimal>> item in @Model)
    {
        <tr>
            <td>@item.Key.Name</td>
            <td>@item.Value.Item1</td>
            <td>@item.Key.Price</td>
            <td>@item.Value.Item2</td>
        </tr>
    }


<hr />
<h3>Shipping Costs</h3>
<h3>Taxes</h3>
<hr />
<h3>Total Cost</h3>

<!-- Add Place Order Button Here-->


<a href="/Storefront/cart">
    <h3>[Go to back to Cart]</h3>
</a>