<!--
 Last modified by: Vivian D'Souza
 Windows Prog 547
 Last Updated : 10/24/23
-->
@{
    ViewBag.Title = "Checkout";
}

<h1>CSharpest Store: Your Total</h1>

<p>Proceed to Checkout here.</p>

<a href="/Storefront/welcome">
    <h3>[Go to back to Store]</h3>
</a>

<a href="/Storefront/cart">
    <h3>[Go to back to Cart]</h3>
</a>