﻿
<!--
 Last modified by: Savannah Noblitt
 Windows Prog 547
 Last Updated : 10/29/23
-->
@{
    ViewBag.Title = "Order Confirmation";
}

<!-- CSS File Link-->
<link href="~/Content/OrderConfirmation.css" rel="stylesheet" type="text/css" />

<h1>Order Confirmation</h1>

<p>
    Thank you for shopping at <strong>Csharpest's Candies'</strong>! <br />
    Your order details are:
</p>

<!-- Print Out Order Table -->

<a href="/Storefront/welcome">
    <h3>[Return to Store]</h3>
</a>

<style>
    h3 {
        text-align: center;
    }
</style>