<!--
 Last modified by: Savannah Noblitt
 Windows Prog 547
 Last Updated : 10/29/23
-->

@{
    ViewBag.Title = "Order Confirmation";
}

<h1>Order Confirmation</h1>

<p>Thank you for shopping at CSharpestStore. Your order details are below.</p>

<!-- Print Out Order Table -->

<a href="/Storefront/welcome">
    <h3>[Place Another Order]</h3>
</a>




