<!--
 Last modified by: Vivian D'Souza
 Windows Prog 547
 Last Updated : 10/24/23
--> 
@{
    ViewBag.Title = "CSharpest Store";
}

<h1>Welcome to the CSharpest Store!</h1>

<p>Hello from our View Template!</p>

<a href="/api/Storefront/cart">
    <h3>[Go to Cart]</h3>
</a>

<a href="/api/Storefront/checkout">
    <h3>[Go to Checkout]</h3>
</a>