<!--
 Last modified by: Savannah Noblitt
 Windows Prog 547
 Last Updated : 10/29/23
--> 
@model SortedSet<CSharpest.Classes.Item>

@{
    ViewBag.Title = "CSharpest Store";
}

<link href="~/Content/Welcome.css" rel="stylesheet" type="text/css" />

<h1>Welcome to the CSharpest Store!</h1>

<a href="/Storefront/cart" id="CartLink">
    <h3>[Go to Cart]</h3>
</a>

<h2>Shop Our Store's Current Inventory:</h2>
<p>All products sold by the ounce (minimum purchase: 1 oz)</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <!-- <th>ID</th> -->
        <th>Price </br>
            (per oz)</th>
        <th>Stock</th>
        <th>Quantity (oz)</th>
        <th>Add to Cart</th>
    </tr>

    @foreach (var item in @Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <!-- <td>item.ItemId</td> -->
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td><input type="text" name="InputField" value="Quantity Needed (oz)" /></td>
            <td>
                <!-- Add in link to Add Item to Cart-->
                <a href="#">
                    <h4>[Add to Cart]</h4>
                </a> 
             </td>
        </tr>
    }
</table>
