################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharpest/FileContentIndex/17b647e7-bdc2-4022-a225-a50b7076c3b3.vsidx
